---
import '../styles/index.css'
import logo from '../assets/logo.svg';

---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body class="home">
	<header class="primary-header flex">
		<div>
			<img src={logo} alt="space tourism logo" class="logo" />
		</div>
		<button class="mobile-nav-toggle text-accent fs-700" aria-controls="primary-navigation">
			<span class="sr-only" aria-expanded="false">Menu</span>
		</button>
		<nav>
			<ul id="primary-navigation" class="primary-navigation flex list-unstyled underline-indicators">
				<li class="active">

					<a href="#" class="uppercase letter-spacing-2 fs-300 text-white no-decoration flex">
						<span>01</span> Home
					</a>
				</li>
				<li>

					<a href="#" class="uppercase letter-spacing-2 fs-300 text-white no-decoration flex">
						<span>02</span> Destination
					</a>
				</li>
				<li>

					<a href="#" class="uppercase letter-spacing-2 fs-300 text-white no-decoration flex">
						<span>03</span> Crew
					</a>
				</li>
				<li>

					<a href="#" class="uppercase letter-spacing-2 fs-300 text-white no-decoration flex">
						<span>04</span> Technology
					</a>
				</li>
			</ul>
		</nav>

	</header>
	<main class="grid-container grid-container--home">

		<div>
			<h1 class="text-accent fs-500 ff-sans-cond uppercase letter-spacing-1 ">So, you want to travel
				to
				<span class="fs-900 ff-serif text-white d-block">Space</span>
			</h1>
			<p>
				Let’s face it; if you want to go to space, you might as well genuinely go to
				outer space and not hover kind of on the edge of it. Well sit back, and relax
				because we’ll give you a truly out of this world experience!
			</p>
		</div>

		<div>
			<!-- explore button -->
			<a href="" class="large-button ff-serif uppercase bg-white text-dark letter-spacing-1">Explore</a>
		</div>


	</main>

</body>

</html>
<script>
	import { toggle } from "../menu.js";
	toggle();
</script>