---
import '../styles/index.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<div class="container grid" style="--gap:10rem">
			<div class="box">a</div>
			<div class="box sr-only">b</div>
			<div class="box">c</div>
			<div class="box">d</div>
			<div class="box">e</div>
		</div>
		
	</body>
</html>
